/* USER CONTAINER */
.user_container_fluid {
    background-color: #1c1d3d;
    width: 100%;
    height: auto;
    padding-bottom: 10rem;
}

.user_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form_control {
    width: 400px;
    background-color: rgb(37, 37, 37);
    color: #fff;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
}
.form_control:active {
    box-shadow: 2px 2px 15px #8707ff inset;
}

.user_form_left {
    color: #fff;
    margin-top: 6.5rem;
}

.user_form_left .user_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_group {
    display: flex;
    gap: 10px;
    margin-bottom: 3rem;
}

.user_form_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user_form_right .list_group {
    color: #fff;
}

/* MEDIA QUERIES */
@media(max-width: 520px) {
    .form_group {
        flex-wrap: wrap;
        justify-content: center;
    }
    .form_control {
        width: auto;
    }
    .user_list {
        flex-direction: column;
        gap: 14px;
    }
}