.home_container {
    width: 100%; 
    background-color: #1c1d3d;
}

.banner span {
    color: #bc312e;
}

.btn_primary {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #bc312e, #e23e3c);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
}
.btn_primary:hover {
    background-position: right center;
    background-size: 200% auto;
     -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

.mockup_feature {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    padding: 1rem;
}
.mockup_title {
    max-inline-size: 420px;
}
.mockup_image {
    max-inline-size: 500px;
}
/* .mockup_lorem {
    width: 40%;
} */

@keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #bc312e;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

/* MEDIA QUERIES */
@media(max-width: 520px) {
    .mockup_feature {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr;
        grid-gap: 0.5rem;
        padding: 1rem;
    }
}